{% extends 'base.html' %} 
{% load static %}
{% load static custom_tags %}

{% block content %} 
        <!-- pages-title-start -->
		<div class="pages-title section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="pages-title-text text-center">
							<h2>fashion style fine arts drawing</h2>
							<ul class="text-left">
								<li><a href="{% url 'index' %}">Home </a></li>
								<li><span> // </span><a href="{% url 'blog' %}">blog </a></li>
								<li><span> // </span>fashion style fine arts drawing</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- pages-title-end -->
        <!-- blog-section-start -->
		<section class="pages blog single-blog-area section-padding-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-9">
						<div class="single-blog-page">
								<div class="single-blog-img">
									<img src="{{blog.image.url}}" alt="" />
								</div>
								<div class="padding30">
									<div class="blog-text">
										<div class="post-title">
											<h3>{{blog.title}}</h3>
											<ul class="clearfix">
												<li><i class="pe-7s-user"></i>By :<a href="#">{{blog.author}}</a><span>|</span></li>
												<li><i class="pe-7s-comment"></i><a href="#">{{blog.created_at | date:"F d, Y" }}</a><span>|</span></li>
												<li><i class="pe-7s-like"></i><a href="#">210 Like</a><span>|</span></li>
												<li><i class="pe-7s-back"></i><a href="#">69 Comments</a></li>
											</ul>
										</div>
										<p>{{blog.content | safe}}</p>
										<!-- <div class="italic">
											<p></p>
										</div> -->
										<div class="share-tag clearfix">
											<ul class="blog-share floatleft">
												<li><h5>share </h5></li>
												<li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
												<li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
												<li><a href="#"><i class="mdi mdi-linkedin"></i></a></li>
												<li><a href="#"><i class="mdi mdi-vimeo"></i></a></li>
												<li><a href="#"><i class="mdi mdi-dribbble"></i></a></li>
												<li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
											</ul>
										</div>
										<div class="about-author comments">
											<h4>19 comments</h4>
											<div class="autohr-text">
												<img src="{% static 'img/blog/author2.png' %}" alt="" />
												<div class="author-des">
													<h4><a href="#">Gerald Barnes</a></h4>
													<span class="floatright"><a href="#">Reply</a>  /   <a href="#">Hide</a></span>
													<span>27 Jun, 2016 at 2:30pm</span>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas eleifend. Phasellus a felis at est bibenes dum feugiat ut eget eni Praesent et messages in consectetur.</p>
												</div>
											</div>
										</div>
										<div class="about-author reply">
											<div class="autohr-text">
												<img src="{% static 'img/blog/author3.png' %}" alt="" />
												<div class="author-des">
													<h4><a href="#">Gregory Hernandez</a></h4>
													<span class="floatright"><a href="#">Reply</a>  /   <a href="#">Hide</a></span>
													<span>27 Jun, 2016 at 2:30pm</span>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas eleifend. Phasellus a felis at est bibenes dum feugiat ut eget eni Praesent et messages in consectetur.</p>
												</div>
											</div>
										</div>
										<div class="about-author">
											<div class="autohr-text">
												<img src="{% static 'img/blog/author3.png' %}" alt="" />
												<div class="author-des">
													<h4><a href="#">Gregory Hernandez</a></h4>
													<span class="floatright"><a href="#">Reply</a>  /   <a href="#">Hide</a></span>
													<span>27 Jun, 2016 at 2:30pm</span>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas eleifend. Phasellus a felis at est bibenes dum feugiat ut eget eni Praesent et messages in consectetur.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="leave-comment">
										<h4>leave your review</h4>
										<form action="" method="POST">
											<div class="row">
												{% csrf_token %}

												{{ form.non_field_errors }}
													<div class="col-xs-12 col-sm-6">
															<div class="input-text">
																{{ form.name }}
															</div>
													</div>
													<div class="col-xs-12 col-sm-6">
														<div class="input-text">
															{{ form.email }}
														</div>
													</div>
													<div class="col-xs-12 ">
														<div class="input-text">
															{{ form.comment }}
														</div>
													</div>

												<div class="col-xs-12">
													<div class="submit-text">
														<button type="submit" value="submit form">submit comments</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
						</div>
						<!-- single post end -->
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3">
						<div class="sidebar left-sidebar">
							<div class="s-side-text">
								<div class="sidebar-title clearfix">
									<h4 class="floatleft">Categories</h4>
									<h5 class="floatright"><a href="#">All</a></h5>
								</div>
								<div class="categories left-right-p">
									{% for category in categories %}
									{% if category.parent_cat is null %}
									<ul id="accordion" class="panel-group clearfix">
										<li class="panel">
											<div data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{category.id}}">
												<div class="medium-a">
													{{category}}
												</div>
											</div>
											<div class="panel-collapse collapse " id="collapse{{category.id}}">
												<div class="normal-a">
													{% for subcat in categories %}
													{% if subcat.parent_cat == category %}
														<a href="#">{{subcat}}</a>
													{% endif %}
													{% endfor %}
												</div>
											</div>
										</li>										
									</ul>
									{% endif %}
									{% endfor %}
								</div>
							</div>
							<div class="s-side-text">
								<div class="sidebar-title clearfix">
									<h4 class="floatleft">brands</h4>
									<h5 class="floatright"><a href="#">All</a></h5>
								</div>
								<div class="brands-select clearfix">
									<ul>
										<li>
											<a href="#">Offset</a>
											<a href="#">Ecko Untid</a>
											<a href="#">Addidas</a>
											<a href="#">Custo</a>
											<a href="#">Guccies</a>
										</li>
										<li>
											<a href="#">Unlimited</a>
											<a href="#">Shoes</a>
											<a href="#">Watch</a>
											<a href="#">Color Full</a>
											<a href="#">Best choice</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="s-side-text">
								<div class="sidebar-title clearfix">
									<h4 class="floatleft">recent post</h4>
								</div>
								<div class="recent-post clearfix">
									{% get_categories 0 3 -1 as blogs %}
										<ul>
											{% for recent in blogs %}
												<li>
													<a href="#"><img src="{% static 'img/blog/r1.jpg' %}" alt="" /></a>
													<h5><a href="#">{{recent.title}}</a></h5>
													<span>{{recent.created_at}}</span>
												</li>
											{% endfor %}
										</ul>									
								</div>
							</div>
							<div class="s-side-text">
								<div class="banner clearfix">
									<a href="#"><img src="{% static 'img/products/banner.jpg' %}" alt="" /></a>
									<div class="banner-text">
										<h2>best</h2> <br />
										<h2 class="banner-brand">brand</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- blog section end -->
        <!-- related post section start -->
		<section class="related-post latest-blog section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title text-center">
							<h2>Related Post</h2>
						</div>
					</div>
				</div>
				{% related_categories 0 3  as blogs %}

				<ul class="blog-row">
					<li>				
						<div class="row">
							{% for related in blogs %}
								<div class="col-sm-4">
									<div class="l-blog-text">
										<div class="banner"><a href="{% url 'single-blog' slug=related.id  %}"><img src="{% static 'img/blog/4.jpg' %}" alt="" /></a></div>
										<div class="s-blog-text">
											<h4><a href="{% url 'single-blog' slug=related.id %}">{{related.title}}</a></h4>
											<span>By : <a href="#">{{related.author}}</a> | <a href="#">210 Like</a> | <a href="#">69 Comments</a></span>
											<p>{{related.description}}</p>
										</div>
										<div class="date-read clearfix">
											<a href="#"><i class="mdi mdi-clock"></i> {{related.created_at}}</a>
											<a href="{% url 'single-blog' slug=related.id  %}">read more</a>
										</div>
									</div>
								</div>
							{% endfor %}						
						</div>
					</li>
				</ul>
			</div>
		</section>
		<!-- related post section end -->
{% endblock %}